{% extends 'menu.html' %}
{% load static %}

{% block content %}
<div class="container text-center mt-5">
  <img src="{% static 'logo.png' %}" alt="Pokepaka Logo" class="mb-4" style="max-height: 150px;">
  <h1 class="display-4 fw-bold">Witaj w MySushi!</h1>
  <p class="lead">Najlepsze Sushi w mieście</p>

  <div class="mt-4">
    <a href="{% url 'sushi:product_list' %}" class="btn btn-primary btn-lg me-3">Przeglądaj produkty</a>
    <a href="{% url 'sushi:signup' %}" class="btn btn-outline-success btn-lg">Dołącz do nas</a>
  </div>
</div>
{% endblock %}
