{% extends 'menu.html' %}
{% block content %}

<h2>Składanie zamówienia</h2>

<form method="post">
  {% csrf_token %}
  {{ form.as_p }}
  <p>
    <a href="{% url 'sushi:add_address' %}" class="btn btn-outline-primary btn-sm ms-2">
      Dodaj nowy adres
    </a>
  </p>
  <h3>Podsumowanie koszyka</h3>
  {% if items %}
    <table class="table">
      <thead>
        <tr>
          <th>Produkt</th>
          <th>Ilość</th>
          <th>Cena</th>
          <th>Razem</th>
        </tr>
      </thead>
      <tbody>
        {% for item in items %}
          <tr>
            <td>{{ item.product.name }}</td>
            <td>{{ item.quantity }}</td>
            <td>{{ item.product.price }} zł</td>
            <td>{{ item.get_cost }} zł</td>
          </tr>
        {% endfor %}
        <tr>
          <td colspan="3"><strong>Suma:</strong></td>
          <td><strong>{{ total_cost }} zł</strong></td>
        </tr>
      </tbody>
    </table>
  {% else %}
    <p>Koszyk jest pusty.</p>
  {% endif %}

    <br><br>

  <button type="submit" class="btn btn-success">Złóż zamówienie</button>
</form>

{% endblock %}
